pchat/node_modules/
pchat/upload/
.DS_Store
pchat/public/images/media/*.*
!pchat/public/images/media/placeholder.txt
pcha/config.js


# Don't include the project at all
.idea/

## File-based project format:
*.iws
