<% include header %>

<div>Detecting timezone...</div>

<form style="display: hidden" action="/login/tzdetect" method="POST" id="form">
  <input type="hidden" name="timezone">
</form>

<% include footer %>
