<% include header %>


    <div class="row">
        <div class="col-lg-12">
              <form class="form-newim" role="form" method="post">
                <div>
                    Upload your profile picture
                </div>

                <div id="image-submission" class="row">
                    <div class="dropzone" id="submission-dropzone">

                    </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">OK</button>
                <input id="imagefile" type="hidden" name="imagefile">
              </form>
        </div><!-- /col -->
    </div><!-- /row -->

<% include footer %>
