
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/jquery.linkify.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/inshape.js"></script>

    <script src="/js/moment.min.js"></script>
    <script src="/js/moment-timezone.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/common.js"></script>

    <script src="/js/html-css-sanitizer-minified.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/chat-monitor.js"></script>

    <% if (locals.pageScript) { %>
        <% if (locals.pageScript.constructor === Array) { %>
            <% for (var i=0, len=locals.pageScript.length; i < len; ++i) {%>
                <script src="/js/<%= pageScript[i] %>"></script>
            <% } %>
        <% } else { %>
            <script src="/js/<%= pageScript %>"></script>
        <% } %>
    <% } %>


</body>

</html>
