<% include header %>

    <div class="row">
        <div class="col-lg-12">
              <form class="form-newroom" role="form" method="post">
                <label for="inputRoom" class="sr-only">Room name</label>
                <input name="roomname" type="text" id="inputRoom" class="form-control" placeholder="Room to join" autocorrect="off" required autofocus>

                <button class="btn btn-lg btn-primary btn-block" type="submit">OK</button>
              </form>
        </div><!-- /col -->
    </div><!-- /row -->

<% include footer %>