<% include header %>

    <div class="row">
        <div class="col-lg-12">
              <form id="signin-form" class="form-signin" role="form" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputUsername" class="sr-only">Username</label>
                <input name="username" type="test" id="inputUsername" class="form-control" placeholder="Username" autocorrect="off" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <input type="hidden" name="timezone">
              </form>
        </div><!-- /col -->
    </div><!-- /row -->

    <div class="row">
        <div class="col-lg-12">
          <a href="<%= registrationURL %>">Or register here</a>
        </div>
    </div>

<% include footer %>
